.container {
  margin: auto;
}

.title {
  margin-bottom: 0;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  margin-bottom: 0.6rem;
  border: 0.5rem solid black;
  height: 40vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cell {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 2px;
  display: inline-block;
  flex: 1;
}

.x,
.o {
  border-radius: 10%;
  width: 100%;
  height: 100%;
}

.x {
  background-color: #ff4136;
}

.o {
  background-color: #85144b;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.settings {
  width: 40vw;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.reset {
  cursor: pointer;
  display: inline-block;
  border: 0.2rem solid black;
  padding: 0.2rem;
  text-transform: uppercase;
}

.scoreboard {
  width: 40vw;
  height: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
